{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="hero">
        <div class="hero--content">
            <div class="hero--content--intro">
                <img id="profile_pic" src="{% static 'images/alexander-picture.jpg' %}" alt="personal_photo">
                <h1 class="intro--name">Alexander <br> Kumanov</h1>
            </div>
            <div class="hero--content--intro--subheadline">
                <h3 class="description">Stock trader and Full Stack Dev</h3>
                <p class="slogan">Passionate for Trading and Programming</p>
            </div>
        </div>

    </section>

    <section class="container section--2">
        <h3>My Projects</h3>
        <h5>Projects that make my jurney worthwile</h5>
        <div class="projects--wrapper">

            {% for project in projects %}
                <div class="project--column">
                    {% if request.user.is_authenticated %}

                    {% endif %}
                    {% if project.thumbnail %}
                        <a href="{% url 'project details' project.id %}">
                            <img class="project--thumbnail" src="{{ project.thumbnail.url }}" alt="thumbnail">
                        </a>
                    {% endif %}
                    <div class="project--body">
                        <h4 style="text-decoration: none">{{ project.title }}</h4>
                    </div>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-warning" href="{% url 'edit project' project.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete project' project.id %}">Delete</a>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
        <div class="about--wrapper">
            <h3>More About me</h3>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.</p>
        </div>
    </section>

    <section class="section--1">
        <div class="skills--container">
            <h3>Skills</h3>
            {% for skill in skills_with_description %}
            <div class="skill--wrapper">
                <h5>{{ skill.title }}</h5>
                <p>{{ skill.description }}</p>
            </div>
            {% endfor %}

            <h4>Other Skills</h4>
            <div class="other--skills-wrapper">
                {% for skill in skills_with_no_description %}
                <div class="skill--tag">
                    <span>{{ skill.title }}</span>
                </div>
                {% endfor %}


            </div>

        </div>

    </section>
    <section class="section--2">
        <div class="container">
            <form class="contact--form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        </div>
    </section>
{% endblock content %}
